Farmaclick2010001FCKAnnullamentoOrdine.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://farmaclick.infarma.it/Farmaclick2010001FCKAnnullamentoOrdine" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://farmaclick.infarma.it/Farmaclick2010001FCKAnnullamentoOrdine" xmlns:intf="http://farmaclick.infarma.it/Farmaclick2010001FCKAnnullamentoOrdine" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:BeanService" xmlns:tns2="http://database.infarma.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--15.10.2010-->
 <wsdl:types>
  <schema targetNamespace="urn:BeanService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://database.infarma.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="AnnullamentoOrdineInputBean">
    <sequence>
     <element name="IDSessione" nillable="true" type="soapenc:string"/>
     <element name="codiceFornitore" nillable="true" type="soapenc:string"/>
     <element name="riferimentoOrdineFarmacia" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="AnnullamentoOrdineOutputBean">
    <sequence>
     <element name="delayProsRichiesta" type="xsd:int"/>
     <element name="esitoServizio" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://database.infarma.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:BeanService"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="TooManyConnectionException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="FCKAnnullamentoOrdineRequest">

      <wsdl:part name="inBean" type="tns1:AnnullamentoOrdineInputBean"/>

   </wsdl:message>

   <wsdl:message name="FCKAnnullamentoOrdineResponse">

      <wsdl:part name="FCKAnnullamentoOrdineReturn" type="tns1:AnnullamentoOrdineOutputBean"/>

   </wsdl:message>

   <wsdl:message name="TooManyConnectionException">

      <wsdl:part name="fault" type="tns2:TooManyConnectionException"/>

   </wsdl:message>

   <wsdl:portType name="farmaclick2010001">

      <wsdl:operation name="FCKAnnullamentoOrdine" parameterOrder="inBean">

         <wsdl:input message="impl:FCKAnnullamentoOrdineRequest" name="FCKAnnullamentoOrdineRequest"/>

         <wsdl:output message="impl:FCKAnnullamentoOrdineResponse" name="FCKAnnullamentoOrdineResponse"/>

         <wsdl:fault message="impl:TooManyConnectionException" name="TooManyConnectionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Farmaclick2010001FCKAnnullamentoOrdineSoapBinding" type="impl:farmaclick2010001">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="FCKAnnullamentoOrdine">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="FCKAnnullamentoOrdineRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.farmaclick.infarma.it" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="FCKAnnullamentoOrdineResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKAnnullamentoOrdine" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="TooManyConnectionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="TooManyConnectionException" namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKAnnullamentoOrdine" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="farmaclick2010001Service">

      <wsdl:port binding="impl:Farmaclick2010001FCKAnnullamentoOrdineSoapBinding" name="Farmaclick2010001FCKAnnullamentoOrdine">

         <wsdlsoap:address location="http://farmaclick.infarma.it/Farmaclick2010001FCKAnnullamentoOrdine"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
