Farmaclick2010001FCKAnagraficaFornitore.wsdl

<wsdl:definitions targetNamespace="http://farmaclick.infarma.it/Farmaclick2010001FCKAnagraficaFornitore" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://farmaclick.infarma.it/Farmaclick2010001FCKAnagraficaFornitore" xmlns:intf="http://farmaclick.infarma.it/Farmaclick2010001FCKAnagraficaFornitore" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:BeanService" xmlns:tns2="http://database.infarma.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 
<!-- 01.10.2010 12.20 --> 
 <wsdl:types> 
  <schema targetNamespace="urn:BeanService" xmlns="http://www.w3.org/2001/XMLSchema"> 
   <import namespace="http://database.infarma.it"/> 
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/> 
   <complexType name="AnagraficaFornitoreInputBean"> 
    <sequence> 
     <element name="IDSessione" nillable="true" type="soapenc:string"/> 
     <element name="codiceFornitore" nillable="true" type="soapenc:string"/> 
     <element name="codiceFornitoreRichiesto" nillable="true" type="soapenc:string"/> 
    </sequence> 
   </complexType> 
   <complexType name="AnagraficaFornitoreOutputBean"> 
    <sequence> 
     <element name="CAP" nillable="true" type="soapenc:string"/> 
     <element name="PIva" nillable="true" type="soapenc:string"/> 
     <element name="citta" nillable="true" type="soapenc:string"/> 
     <element name="codiceFiscale" nillable="true" type="soapenc:string"/> 
     <element name="codiceFornitore" nillable="true" type="soapenc:string"/> 
     <element name="codiceSitoLogistico" nillable="true" type="soapenc:string"/> 
     <element name="delayProsRichiesta" type="xsd:int"/> 
     <element name="descrizione" nillable="true" type="soapenc:string"/> 
     <element name="descrizioneBreve" nillable="true" type="soapenc:string"/> 
     <element name="email" nillable="true" type="soapenc:string"/> 
     <element name="esitoServizio" type="xsd:int"/> 
     <element name="fax" nillable="true" type="soapenc:string"/> 
     <element name="indirizzo" nillable="true" type="soapenc:string"/> 
     <element name="provincia" nillable="true" type="soapenc:string"/> 
     <element name="telefono" nillable="true" type="soapenc:string"/> 
    </sequence> 
   </complexType> 
  </schema> 
  <schema targetNamespace="http://database.infarma.it" xmlns="http://www.w3.org/2001/XMLSchema"> 
   <import namespace="urn:BeanService"/> 
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/> 
   <complexType name="TooManyConnectionException"> 
    <sequence/> 
   </complexType> 
  </schema> 
 </wsdl:types> 
 
   <wsdl:message name="FCKAnagraficaFornitoreResponse"> 
 
      <wsdl:part name="FCKAnagraficaFornitoreReturn" type="tns1:AnagraficaFornitoreOutputBean"/> 
 
   </wsdl:message> 
 
   <wsdl:message name="TooManyConnectionException"> 
 
      <wsdl:part name="fault" type="tns2:TooManyConnectionException"/> 
 
   </wsdl:message> 
 
   <wsdl:message name="FCKAnagraficaFornitoreRequest"> 
 
      <wsdl:part name="inBean" type="tns1:AnagraficaFornitoreInputBean"/> 
 
   </wsdl:message> 
 
   <wsdl:portType name="farmaclick2010001"> 
 
      <wsdl:operation name="FCKAnagraficaFornitore" parameterOrder="inBean"> 
 
         <wsdl:input message="impl:FCKAnagraficaFornitoreRequest" name="FCKAnagraficaFornitoreRequest"/> 
 
         <wsdl:output message="impl:FCKAnagraficaFornitoreResponse" name="FCKAnagraficaFornitoreResponse"/> 
 
         <wsdl:fault message="impl:TooManyConnectionException" name="TooManyConnectionException"/> 
 
      </wsdl:operation> 
 
   </wsdl:portType> 
 
   <wsdl:binding name="Farmaclick2010001FCKAnagraficaFornitoreSoapBinding" type="impl:farmaclick2010001"> 
 
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/> 
 
      <wsdl:operation name="FCKAnagraficaFornitore"> 
 
         <wsdlsoap:operation soapAction=""/> 
 
         <wsdl:input name="FCKAnagraficaFornitoreRequest"> 
 
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.farmaclick.infarma.it" use="encoded"/> 
 
         </wsdl:input> 
 
         <wsdl:output name="FCKAnagraficaFornitoreResponse"> 
 
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKAnagraficaFornitore" use="encoded"/> 
 
         </wsdl:output> 
 
         <wsdl:fault name="TooManyConnectionException"> 
 
            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="TooManyConnectionException" namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKAnagraficaFornitore" use="encoded"/> 
 
         </wsdl:fault> 
 
      </wsdl:operation> 
 
   </wsdl:binding> 
 
   <wsdl:service name="farmaclick2010001Service"> 
 
      <wsdl:port binding="impl:Farmaclick2010001FCKAnagraficaFornitoreSoapBinding" name="Farmaclick2010001FCKAnagraficaFornitore"> 
 
         <wsdlsoap:address location="http://farmaclick.infarma.it/Farmaclick2010001FCKAnagraficaFornitore"/> 
 
      </wsdl:port> 
 
   </wsdl:service> 
 
</wsdl:definitions> 