Farmaclick2010001FCKInfoCom.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://farmaclick.infarma.it/Farmaclick2010001FCKInfoCom" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://farmaclick.infarma.it/Farmaclick2010001FCKInfoCom" xmlns:intf="http://farmaclick.infarma.it/Farmaclick2010001FCKInfoCom" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:BeanService" xmlns:tns2="http://database.infarma.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <wsdl:types>
  <schema targetNamespace="urn:BeanService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://database.infarma.it"/>
   <import namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKInfoCom"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArticoloInputBean">
    <sequence>
     <element name="codiceProdotto" nillable="true" type="soapenc:string"/>
     <element name="prenotazione" type="xsd:boolean"/>
     <element name="quantitaRichiesta" type="xsd:int"/>
     <element name="rifRiga" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="InfoComInputBean">
    <sequence>
     <element name="IDSessione" nillable="true" type="soapenc:string"/>
     <element name="arrayArticoliInput" nillable="true" type="impl:ArrayOf_tns1_ArticoloInputBean"/>
     <element name="codiceFornitore" nillable="true" type="soapenc:string"/>
     <element name="codiceTipoOrdine" nillable="true" type="soapenc:string"/>
     <element name="descrizioneArticoli" type="xsd:boolean"/>
     <element name="descrizioneMotivazioneMancanza" type="xsd:boolean"/>
     <element name="indicazioneOfferte" type="xsd:boolean"/>
     <element name="indicazioneSconti" type="xsd:boolean"/>
     <element name="riferimentoOrdineFarmacia" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="CampagnaPreconfezionataOutputBean">
    <sequence>
     <element name="codiceTipoOrdine" nillable="true" type="soapenc:string"/>
     <element name="descrizione" nillable="true" type="soapenc:string"/>
     <element name="link" nillable="true" type="soapenc:string"/>
     <element name="offertaAperta" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="ConsegnaOutputBean">
    <sequence>
     <element name="codiceCorriere" nillable="true" type="soapenc:string"/>
     <element name="codiceFornitore" nillable="true" type="soapenc:string"/>
     <element name="dataConsegna" nillable="true" type="xsd:dateTime"/>
     <element name="quantitaConsegnata" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="ConsegnaDifferitaOutputBean">
    <sequence>
     <element name="codiceConsegna" nillable="true" type="soapenc:string"/>
     <element name="codiceFornitore" nillable="true" type="soapenc:string"/>
     <element name="dataConsegna" nillable="true" type="xsd:dateTime"/>
     <element name="dataFineValidita" nillable="true" type="xsd:dateTime"/>
     <element name="disponibilitaProdotto" type="xsd:int"/>
     <element name="note" nillable="true" type="soapenc:string"/>
     <element name="quantita" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="FatturazioneOutputBean">
    <sequence>
     <element name="codiceFornitore" nillable="true" type="soapenc:string"/>
     <element name="quantitaFatturata" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="OfferteOutputBean">
    <sequence>
     <element name="codiceAccorpatoreCondizione" nillable="true" type="soapenc:string"/>
     <element name="codiceOmaggioAlternativo" nillable="true" type="soapenc:string"/>
     <element name="dataFineValidita" nillable="true" type="xsd:dateTime"/>
     <element name="descrizioneOmaggioAlternativo" nillable="true" type="soapenc:string"/>
     <element name="importoNettoRiga" type="xsd:double"/>
     <element name="limitePezziA" type="xsd:int"/>
     <element name="limitePezziDa" type="xsd:int"/>
     <element name="modalitaPagamento" nillable="true" type="soapenc:string"/>
     <element name="numeroMinimoPezzi" type="xsd:int"/>
     <element name="offertaApplicata" type="xsd:boolean"/>
     <element name="quantitaAssegnata" type="xsd:int"/>
     <element name="quantitaMassimaOrdinabile" type="xsd:int"/>
     <element name="quantitaOmaggio" type="xsd:int"/>
     <element name="quantitaOmaggioAlternativo" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="ArticoloInfoOutputBean">
    <sequence>
     <element name="arrayCampagneP" nillable="true" type="impl:ArrayOf_tns1_CampagnaPreconfezionataOutputBean"/>
     <element name="arrayConsegna" nillable="true" type="impl:ArrayOf_tns1_ConsegnaOutputBean"/>
     <element name="arrayConsegnaDifferita" nillable="true" type="impl:ArrayOf_tns1_ConsegnaDifferitaOutputBean"/>
     <element name="arrayFatturazione" nillable="true" type="impl:ArrayOf_tns1_FatturazioneOutputBean"/>
     <element name="arrayOfferte" nillable="true" type="impl:ArrayOf_tns1_OfferteOutputBean"/>
     <element name="codiceCampCom" nillable="true" type="soapenc:string"/>
     <element name="codiceMancanza" nillable="true" type="soapenc:string"/>
     <element name="codiceOmaggioAlternativo" nillable="true" type="soapenc:string"/>
     <element name="codiceProdotto" nillable="true" type="soapenc:string"/>
     <element name="codiceProdottoSostituito" nillable="true" type="soapenc:string"/>
     <element name="consegnaRitardata" type="xsd:boolean"/>
     <element name="dataPrevistaConsegnaPrenotazione" nillable="true" type="xsd:dateTime"/>
     <element name="dataPrevistaDisponibilita" nillable="true" type="xsd:dateTime"/>
     <element name="descrizioneMancanza" nillable="true" type="soapenc:string"/>
     <element name="descrizioneOmaggioAlternativo" nillable="true" type="soapenc:string"/>
     <element name="descrizioneProdotto" nillable="true" type="soapenc:string"/>
     <element name="descrizioneProdottoSostituito" nillable="true" type="soapenc:string"/>
     <element name="importoNettoRiga" type="xsd:double"/>
     <element name="iva" type="xsd:int"/>
     <element name="link" nillable="true" type="soapenc:string"/>
     <element name="multiplo" type="xsd:boolean"/>
     <element name="note" nillable="true" type="soapenc:string"/>
     <element name="prenotabile" type="xsd:boolean"/>
     <element name="prezzoConsigliato" type="xsd:double"/>
     <element name="prezzoNettoUnitario" type="xsd:double"/>
     <element name="prezzopublico" type="xsd:double"/>
     <element name="quantitaConfezione" type="xsd:int"/>
     <element name="quantitaConsegnata" type="xsd:int"/>
     <element name="quantitaMancante" type="xsd:int"/>
     <element name="quantitaMinima" type="xsd:int"/>
     <element name="quantitaOmaggio" type="xsd:int"/>
     <element name="quantitaOmaggioAlternativo" type="xsd:int"/>
     <element name="quantitaRichiesta" type="xsd:int"/>
     <element name="rifRiga" nillable="true" type="soapenc:string"/>
     <element name="scontoCampCom1" type="xsd:double"/>
     <element name="scontoCampCom2" type="xsd:double"/>
     <element name="scontoLordo" type="xsd:double"/>
     <element name="scontoNetto" type="xsd:double"/>
     <element name="trattato" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="InfoComOutputBean">
    <sequence>
     <element name="arrayArticoli" nillable="true" type="impl:ArrayOf_tns1_ArticoloInfoOutputBean"/>
     <element name="delayProsRichiesta" type="xsd:int"/>
     <element name="esitoServizio" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://farmaclick.infarma.it/Farmaclick2010001FCKInfoCom" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://database.infarma.it"/>
   <import namespace="urn:BeanService"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_ArticoloInputBean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:ArticoloInputBean[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_CampagnaPreconfezionataOutputBean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CampagnaPreconfezionataOutputBean[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_ConsegnaOutputBean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:ConsegnaOutputBean[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_ConsegnaDifferitaOutputBean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:ConsegnaDifferitaOutputBean[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_FatturazioneOutputBean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:FatturazioneOutputBean[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_OfferteOutputBean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:OfferteOutputBean[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_ArticoloInfoOutputBean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:ArticoloInfoOutputBean[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://database.infarma.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:BeanService"/>
   <import namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKInfoCom"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="TooManyConnectionException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="FCKInfoComResponse">

      <wsdl:part name="FCKInfoComReturn" type="tns1:InfoComOutputBean"/>

   </wsdl:message>

   <wsdl:message name="FCKInfoComRequest">

      <wsdl:part name="inBean" type="tns1:InfoComInputBean"/>

   </wsdl:message>

   <wsdl:message name="TooManyConnectionException">

      <wsdl:part name="fault" type="tns2:TooManyConnectionException"/>

   </wsdl:message>

   <wsdl:portType name="farmaclick2010001">

      <wsdl:operation name="FCKInfoCom" parameterOrder="inBean">

         <wsdl:input message="impl:FCKInfoComRequest" name="FCKInfoComRequest"/>

         <wsdl:output message="impl:FCKInfoComResponse" name="FCKInfoComResponse"/>

         <wsdl:fault message="impl:TooManyConnectionException" name="TooManyConnectionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Farmaclick2010001FCKInfoComSoapBinding" type="impl:farmaclick2010001">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="FCKInfoCom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="FCKInfoComRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.farmaclick.infarma.it/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="FCKInfoComResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKInfoCom" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="TooManyConnectionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="TooManyConnectionException" namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKInfoCom" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="farmaclick2010001Service">

  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	       (C) Infarma Srl - Informatica Farmaceutica
	           Via Canova 30 - Bologna
	           Tel. 199.128.900
	           email: farmaclick@infarma.it
	           web: http://www.infarma.it
	      </wsdl:documentation>

      <wsdl:port binding="impl:Farmaclick2010001FCKInfoComSoapBinding" name="Farmaclick2010001FCKInfoCom">

         <wsdlsoap:address location="http://farmaclick.infarma.it/Farmaclick2010001FCKInfoCom"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
