Farmaclick2010001FCKDesAccorpatoreCondizione.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://farmaclick.infarma.it/Farmaclick2010001FCKDesAccorpatoreCondizione" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://farmaclick.infarma.it/Farmaclick2010001FCKDesAccorpatoreCondizione" xmlns:intf="http://farmaclick.infarma.it/Farmaclick2010001FCKDesAccorpatoreCondizione" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:BeanService" xmlns:tns2="http://database.infarma.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--15.10.2010-->
 <wsdl:types>
  <schema targetNamespace="urn:BeanService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://database.infarma.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="AccorpatoreCondizioneInputBean">
    <sequence>
     <element name="IDSessione" nillable="true" type="soapenc:string"/>
     <element name="codiceAccorpatore" nillable="true" type="soapenc:string"/>
     <element name="codiceFornitore" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="AccorpatoreCondizioneOutputBean">
    <sequence>
     <element name="delayProsRichiesta" type="xsd:int"/>
     <element name="descrizione" nillable="true" type="soapenc:string"/>
     <element name="esitoServizio" type="xsd:int"/>
     <element name="link" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://database.infarma.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:BeanService"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="TooManyConnectionException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="FCKDesAccorpatoreCondizioneRequest">

      <wsdl:part name="inBean" type="tns1:AccorpatoreCondizioneInputBean"/>

   </wsdl:message>

   <wsdl:message name="FCKDesAccorpatoreCondizioneResponse">

      <wsdl:part name="FCKDesAccorpatoreCondizioneReturn" type="tns1:AccorpatoreCondizioneOutputBean"/>

   </wsdl:message>

   <wsdl:message name="TooManyConnectionException">

      <wsdl:part name="fault" type="tns2:TooManyConnectionException"/>

   </wsdl:message>

   <wsdl:portType name="farmaclick2010001">

      <wsdl:operation name="FCKDesAccorpatoreCondizione" parameterOrder="inBean">

         <wsdl:input message="impl:FCKDesAccorpatoreCondizioneRequest" name="FCKDesAccorpatoreCondizioneRequest"/>

         <wsdl:output message="impl:FCKDesAccorpatoreCondizioneResponse" name="FCKDesAccorpatoreCondizioneResponse"/>

         <wsdl:fault message="impl:TooManyConnectionException" name="TooManyConnectionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Farmaclick2010001FCKDesAccorpatoreCondizioneSoapBinding" type="impl:farmaclick2010001">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="FCKDesAccorpatoreCondizione">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="FCKDesAccorpatoreCondizioneRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.farmaclick.infarma.it" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="FCKDesAccorpatoreCondizioneResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKDesAccorpatoreCondizione" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="TooManyConnectionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="TooManyConnectionException" namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKDesAccorpatoreCondizione" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="farmaclick2010001Service">

      <wsdl:port binding="impl:Farmaclick2010001FCKDesAccorpatoreCondizioneSoapBinding" name="Farmaclick2010001FCKDesAccorpatoreCondizione">

         <wsdlsoap:address location="http://farmaclick.infarma.it/Farmaclick2010001FCKDesAccorpatoreCondizione"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
