Farmaclick2010001FCKElencoCampagne.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://farmaclick.infarma.it/Farmaclick2010001FCKElencoCampagne" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://farmaclick.infarma.it/Farmaclick2010001FCKElencoCampagne" xmlns:intf="http://farmaclick.infarma.it/Farmaclick2010001FCKElencoCampagne" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:BeanService" xmlns:tns2="http://database.infarma.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!-- 25.02.2011 -->
 <wsdl:types>
  <schema targetNamespace="urn:BeanService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://database.infarma.it"/>
   <import namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKElencoCampagne"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ElencoCampagneInputBean">
    <sequence>
     <element name="IDSessione" nillable="true" type="soapenc:string"/>
     <element name="codiceFornitore" nillable="true" type="soapenc:string"/>
     <element name="codiceTipoOrdine" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="CampagnaOutputBean">
    <sequence>
     <element name="cadenza" type="xsd:int"/>
     <element name="codiceTipoOrdine" nillable="true" type="soapenc:string"/>
     <element name="dataFineValidita" nillable="true" type="xsd:dateTime"/>
     <element name="dataInizioValidita" nillable="true" type="xsd:dateTime"/>
     <element name="dataPrevistaFatturazione" nillable="true" type="xsd:dateTime"/>
     <element name="descrizione" nillable="true" type="soapenc:string"/>
     <element name="giorniDilazionePagamento" type="xsd:int"/>
     <element name="link" nillable="true" type="soapenc:string"/>
     <element name="modalitaPagamento" nillable="true" type="soapenc:string"/>
     <element name="numeroGiorni" type="xsd:int"/>
     <element name="orarioFinale" nillable="true" type="xsd:dateTime"/>
     <element name="orarioIniziale" nillable="true" type="xsd:dateTime"/>
     <element name="partenzaConteggioDilazione" type="xsd:int"/>
     <element name="prenotazione" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="ElencoCampagneOutputBean">
    <sequence>
     <element name="arrayCampagne" nillable="true" type="impl:ArrayOf_tns1_CampagnaOutputBean"/>
     <element name="delayProsRichiesta" type="xsd:int"/>
     <element name="esitoServizio" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://farmaclick.infarma.it/Farmaclick2010001FCKElencoCampagne" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://database.infarma.it"/>
   <import namespace="urn:BeanService"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_CampagnaOutputBean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CampagnaOutputBean[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://database.infarma.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKElencoCampagne"/>
   <import namespace="urn:BeanService"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="TooManyConnectionException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="TooManyConnectionException">

      <wsdl:part name="fault" type="tns2:TooManyConnectionException"/>

   </wsdl:message>

   <wsdl:message name="FCKElencoCampagneResponse">

      <wsdl:part name="FCKElencoCampagneReturn" type="tns1:ElencoCampagneOutputBean"/>

   </wsdl:message>

   <wsdl:message name="FCKElencoCampagneRequest">

      <wsdl:part name="inBean" type="tns1:ElencoCampagneInputBean"/>

   </wsdl:message>

   <wsdl:portType name="farmaclick2010001">

      <wsdl:operation name="FCKElencoCampagne" parameterOrder="inBean">

         <wsdl:input message="impl:FCKElencoCampagneRequest" name="FCKElencoCampagneRequest"/>

         <wsdl:output message="impl:FCKElencoCampagneResponse" name="FCKElencoCampagneResponse"/>

         <wsdl:fault message="impl:TooManyConnectionException" name="TooManyConnectionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Farmaclick2010001FCKElencoCampagneSoapBinding" type="impl:farmaclick2010001">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="FCKElencoCampagne">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="FCKElencoCampagneRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.farmaclick.infarma.it" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="FCKElencoCampagneResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKElencoCampagne" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="TooManyConnectionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="TooManyConnectionException" namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKElencoCampagne" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="farmaclick2010001Service">

      <wsdl:port binding="impl:Farmaclick2010001FCKElencoCampagneSoapBinding" name="Farmaclick2010001FCKElencoCampagne">

         <wsdlsoap:address location="http://farmaclick.infarma.it/Farmaclick2010001FCKElencoCampagne"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
