Farmaclick2010001FCKStatoOrdine.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://farmaclick.infarma.it/Farmaclick2010001FCKStatoOrdine" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://farmaclick.infarma.it/Farmaclick2010001FCKStatoOrdine" xmlns:intf="http://farmaclick.infarma.it/Farmaclick2010001FCKStatoOrdine" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:BeanService" xmlns:tns2="http://database.infarma.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <wsdl:types>
  <schema targetNamespace="urn:BeanService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://database.infarma.it"/>
   <import namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKStatoOrdine"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="StatoOrdineInputBean">
    <sequence>
     <element name="IDSessione" nillable="true" type="soapenc:string"/>
     <element name="codiceFornitore" nillable="true" type="soapenc:string"/>
     <element name="datiContenitori" type="xsd:boolean"/>
     <element name="descrizioneArticoli" type="xsd:boolean"/>
     <element name="descrizioneMotivazioneMancanza" type="xsd:boolean"/>
     <element name="dettaglioOrdini" type="xsd:boolean"/>
     <element name="giorniDaEmissioneDDT" type="xsd:int"/>
     <element name="numeroOrdineFornitore" nillable="true" type="soapenc:string"/>
     <element name="riferimentoOrdineFarmacia" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="DettaglioContenitoriOutputBean">
    <sequence>
     <element name="numeroContenitore" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="ArticoloStatoOrdineOutputBean">
    <sequence>
     <element name="arrayContenitori" nillable="true" type="impl:ArrayOf_tns1_DettaglioContenitoriOutputBean"/>
     <element name="codiceProdotto" nillable="true" type="soapenc:string"/>
     <element name="consegnaRitardata" type="xsd:boolean"/>
     <element name="descrizioneProdotto" nillable="true" type="soapenc:string"/>
     <element name="importoNettoRiga" type="xsd:double"/>
     <element name="mancanteDaAllestimento" type="xsd:boolean"/>
     <element name="quantitaConsegnata" type="xsd:int"/>
     <element name="quantitaMancante" type="xsd:int"/>
     <element name="quantitaOmaggio" type="xsd:int"/>
     <element name="quantitaPrenotata" type="xsd:int"/>
     <element name="quantitaRichiesta" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="ContenitoreOutputBean">
    <sequence>
     <element name="descrizione" nillable="true" type="soapenc:string"/>
     <element name="numeroContenitore" nillable="true" type="soapenc:string"/>
     <element name="rendere" nillable="true" type="soapenc:boolean"/>
    </sequence>
   </complexType>
   <complexType name="StatoSingoloOrdineOutputBean">
    <sequence>
     <element name="arrayArticoli" nillable="true" type="impl:ArrayOf_tns1_ArticoloStatoOrdineOutputBean"/>
     <element name="arrayElencoContenitori" nillable="true" type="impl:ArrayOf_tns1_ContenitoreOutputBean"/>
     <element name="codiceCorriere" nillable="true" type="soapenc:string"/>
     <element name="codiceFornitore" nillable="true" type="soapenc:string"/>
     <element name="dataArrivoInFarmacia" nillable="true" type="xsd:dateTime"/>
     <element name="dataDdT" nillable="true" type="xsd:dateTime"/>
     <element name="dataEffettivaConsegna" nillable="true" type="xsd:dateTime"/>
     <element name="dataPrevistaConsegna" nillable="true" type="xsd:dateTime"/>
     <element name="dataRicezioneOrdine" nillable="true" type="xsd:dateTime"/>
     <element name="numeroDdT" nillable="true" type="soapenc:string"/>
     <element name="numeroOrdineFarmacia" nillable="true" type="soapenc:string"/>
     <element name="numeroOrdineServer" nillable="true" type="soapenc:string"/>
     <element name="ordineUnito" nillable="true" type="soapenc:string"/>
     <element name="prenotazione" type="xsd:boolean"/>
     <element name="siglaDdT" nillable="true" type="soapenc:string"/>
     <element name="statoOrdine" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="StatoOrdineOutputBean">
    <sequence>
     <element name="arrayOrdini" nillable="true" type="impl:ArrayOf_tns1_StatoSingoloOrdineOutputBean"/>
     <element name="delayProsRichiesta" type="xsd:int"/>
     <element name="esitoServizio" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://farmaclick.infarma.it/Farmaclick2010001FCKStatoOrdine" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://database.infarma.it"/>
   <import namespace="urn:BeanService"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_DettaglioContenitoriOutputBean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:DettaglioContenitoriOutputBean[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_ArticoloStatoOrdineOutputBean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:ArticoloStatoOrdineOutputBean[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_ContenitoreOutputBean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:ContenitoreOutputBean[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_StatoSingoloOrdineOutputBean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:StatoSingoloOrdineOutputBean[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://database.infarma.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKStatoOrdine"/>
   <import namespace="urn:BeanService"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="TooManyConnectionException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="TooManyConnectionException">

      <wsdl:part name="fault" type="tns2:TooManyConnectionException"/>

   </wsdl:message>

   <wsdl:message name="FCKStatoOrdineResponse">

      <wsdl:part name="FCKStatoOrdineReturn" type="tns1:StatoOrdineOutputBean"/>

   </wsdl:message>

   <wsdl:message name="FCKStatoOrdineRequest">

      <wsdl:part name="inBean" type="tns1:StatoOrdineInputBean"/>

   </wsdl:message>

   <wsdl:portType name="farmaclick2010001">

      <wsdl:operation name="FCKStatoOrdine" parameterOrder="inBean">

         <wsdl:input message="impl:FCKStatoOrdineRequest" name="FCKStatoOrdineRequest"/>

         <wsdl:output message="impl:FCKStatoOrdineResponse" name="FCKStatoOrdineResponse"/>

         <wsdl:fault message="impl:TooManyConnectionException" name="TooManyConnectionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Farmaclick2010001FCKStatoOrdineSoapBinding" type="impl:farmaclick2010001">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="FCKStatoOrdine">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="FCKStatoOrdineRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.farmaclick.infarma.it/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="FCKStatoOrdineResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKStatoOrdine" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="TooManyConnectionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="TooManyConnectionException" namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKStatoOrdine" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="farmaclick2010001Service">

  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	       (C) Infarma Srl - Informatica Farmaceutica
	           Via Canova 30 - Bologna
	           Tel. 199.128.900
	           email: farmaclick@infarma.it
	           web: http://www.infarma.it
	      </wsdl:documentation>

      <wsdl:port binding="impl:Farmaclick2010001FCKStatoOrdineSoapBinding" name="Farmaclick2010001FCKStatoOrdine">

         <wsdlsoap:address location="http://farmaclick.infarma.it/Farmaclick2010001FCKStatoOrdine"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
