Farmaclick2010001FCKAnagraficaCorriere.wsdl

<wsdl:definitions targetNamespace="http://farmaclick.infarma.it/Farmaclick2010001FCKAnagraficaCorriere" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://farmaclick.infarma.it/Farmaclick2010001FCKAnagraficaCorriere" xmlns:intf="http://farmaclick.infarma.it/Farmaclick2010001FCKAnagraficaCorriere" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:BeanService" xmlns:tns2="http://database.infarma.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 
<!-- 01.10.2010 12.20 --> 
 <wsdl:types> 
  <schema targetNamespace="urn:BeanService" xmlns="http://www.w3.org/2001/XMLSchema"> 
   <import namespace="http://database.infarma.it"/> 
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/> 
   <complexType name="AnagraficaCorriereInputBean"> 
    <sequence> 
     <element name="IDSessione" nillable="true" type="soapenc:string"/> 
     <element name="codiceCorriere" nillable="true" type="soapenc:string"/> 
     <element name="codiceFornitore" nillable="true" type="soapenc:string"/> 
    </sequence> 
   </complexType> 
   <complexType name="AnagraficaCorriereOutputBean"> 
    <sequence> 
     <element name="codiceCorriere" nillable="true" type="soapenc:string"/> 
     <element name="delayProsRichiesta" type="xsd:int"/> 
     <element name="email" nillable="true" type="soapenc:string"/> 
     <element name="esitoServizio" type="xsd:int"/> 
     <element name="ragioneSociale" nillable="true" type="soapenc:string"/> 
     <element name="telefono" nillable="true" type="soapenc:string"/> 
    </sequence> 
   </complexType> 
  </schema> 
  <schema targetNamespace="http://database.infarma.it" xmlns="http://www.w3.org/2001/XMLSchema"> 
   <import namespace="urn:BeanService"/> 
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/> 
   <complexType name="TooManyConnectionException"> 
    <sequence/> 
   </complexType> 
  </schema> 
 </wsdl:types> 
 
   <wsdl:message name="TooManyConnectionException"> 
 
      <wsdl:part name="fault" type="tns2:TooManyConnectionException"/> 
 
   </wsdl:message> 
 
   <wsdl:message name="FCKAnagraficaCorriereResponse"> 
 
      <wsdl:part name="FCKAnagraficaCorriereReturn" type="tns1:AnagraficaCorriereOutputBean"/> 
 
   </wsdl:message> 
 
   <wsdl:message name="FCKAnagraficaCorriereRequest"> 
 
      <wsdl:part name="inBean" type="tns1:AnagraficaCorriereInputBean"/> 
 
   </wsdl:message> 
 
   <wsdl:portType name="farmaclick2010001"> 
 
      <wsdl:operation name="FCKAnagraficaCorriere" parameterOrder="inBean"> 
 
         <wsdl:input message="impl:FCKAnagraficaCorriereRequest" name="FCKAnagraficaCorriereRequest"/> 
 
         <wsdl:output message="impl:FCKAnagraficaCorriereResponse" name="FCKAnagraficaCorriereResponse"/> 
 
         <wsdl:fault message="impl:TooManyConnectionException" name="TooManyConnectionException"/> 
 
      </wsdl:operation> 
 
   </wsdl:portType> 
 
   <wsdl:binding name="Farmaclick2010001FCKAnagraficaCorriereSoapBinding" type="impl:farmaclick2010001"> 
 
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/> 
 
      <wsdl:operation name="FCKAnagraficaCorriere"> 
 
         <wsdlsoap:operation soapAction=""/> 
 
         <wsdl:input name="FCKAnagraficaCorriereRequest"> 
 
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.farmaclick.infarma.it" use="encoded"/> 
 
         </wsdl:input> 
 
         <wsdl:output name="FCKAnagraficaCorriereResponse"> 
 
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKAnagraficaCorriere" use="encoded"/> 
 
         </wsdl:output> 
 
         <wsdl:fault name="TooManyConnectionException"> 
 
            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="TooManyConnectionException" namespace="http://farmaclick.infarma.it/Farmaclick2010001FCKAnagraficaCorriere" use="encoded"/> 
 
         </wsdl:fault> 
 
      </wsdl:operation> 
 
   </wsdl:binding> 
 
   <wsdl:service name="farmaclick2010001Service"> 
 
      <wsdl:port binding="impl:Farmaclick2010001FCKAnagraficaCorriereSoapBinding" name="Farmaclick2010001FCKAnagraficaCorriere"> 
 
         <wsdlsoap:address location="http://farmaclick.infarma.it/Farmaclick2010001FCKAnagraficaCorriere"/> 
 
      </wsdl:port> 
 
   </wsdl:service> 
 
</wsdl:definitions> 